@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.header {
  width: 100%;
  background: #28292b;
}
.header__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__title {
  font-size: 32px;
  font-weight: 700;
  color: #ecf0f1;
}
.header__menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__link {
  font-size: 20px;
  color: #ecf0f1;
  position: relative;
  transition: all 0.5s;
  padding: 5px 0;
  margin: 0 0 0 10px;
}
.header__link::before {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  background: #b77e4b;
  bottom: -5px;
  transform: scaleX(0);
  transition: all 0.5s;
}
.header__link:hover {
  transform: translateY(-7px);
}
.header__link:hover::before {
  transform: scaleX(1);
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  width: 135px;
  height: 45px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s linear;
}

.products {
  width: 100%;
}
.products__body {
  display: flex;
}
.products__add-menu {
  display: flex;
  justify-content: center;
}
.products table {
  border-collapse: collapse;
  width: 100%;
  margin: 15px 0 15px 0;
  text-align: center;
}
.products table thead {
  font-size: 24px;
  font-weight: 700;
}
.products table tbody {
  font-size: 18px;
}
.products table td {
  width: 25%;
  border: 1px solid #28292b;
  color: #28292b;
  padding: 5px;
  overflow-wrap: break-word;
}
.products table td div {
  display: flex;
  justify-content: space-around;
}
.products table input {
  width: 50px;
}

.form-deactive {
  height: 0;
}
.form-deactive p, .form-deactive input, .form-deactive button, .form-deactive label {
  transition: all 0s ease;
  visibility: hidden;
}

label {
  font-size: 18px;
  margin: 5px;
}

input {
  font-size: 18px;
  margin: 15px 0;
  background: none;
  border-bottom: 2.5px #28292b solid;
  text-align: center;
  width: 250px;
}

.customer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-container .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container .submit-btn {
  transition: all 0.3s ease;
}